@font-face {
  font-family: 'Dank Mono';
  src:
    local('dank-mono'),
    url('/assets/dank-mono.woff2') format('woff2');
}
:root {
  --vp-font-family-base: 'Dank Mono';
  --vp-font-family-mono: 'Dank Mono';
}
